echo off
rem all directory names are without trailing backslash

rem directory to your xilinx installation folder, e.g. c:\Xilinx
set XILINX_HOME=c:\Xilinx
rem version of your ISE installation
set ISE_VERSION=14.7

rem directory to your PoC root directory, e.g. d:\git\myproject\lib\PoC
set POC_HOME=d:\git\myproject\lib\PoC

set ISE_HOME=%XILINX_HOME%\%ISE_VERSION%\ISE_DS
set ISE_BIN=%ISE_HOME%\ISE\bin\nt64
