## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## Fan Control
## -----------------------------------------------------------------------------
##	Bank:						15
##		VCCO:					2.5V (VCCO_VADJ)
##	Location:				J61, Q17 (NDT3055L)
## -----------------------------------------------------------------------------
NET "AC701_FanControl_PWM"							LOC =  "J26";			## {OUT}		Q17.Gate; external 1k pullup resistor; Q17.Drain connects to J61.1 (GND)
NET "AC701_FanControl_Tacho"						LOC =  "J25";			## {IN}			J61.3; voltage limited by D15 (MM3Z2V7B; 2.7V zener-diode)
NET "AC701_FanControl_*"								IOSTANDARD = LVCMOS25;

## Ignore timings on async I/O pins
NET "AC701_FanControl_*"								TIG;
