## =============================================================================================================================================================
## General Purpose I/O
## =============================================================================================================================================================
##
## LEDs
## -----------------------------------------------------------------------------
##	Bank:						14
##		VCCO:					3.3V (FPGA_3V3)
##	Location:				DS2, DS3, DS4, DS5
## -----------------------------------------------------------------------------
NET "AC701_GPIO_LED<0>"						LOC =  "M26";						## {OUT}	DS2;
NET "AC701_GPIO_LED<1>"						LOC =  "T24";						## {OUT}	DS3;
NET "AC701_GPIO_LED<2>"						LOC =  "T25";						## {OUT}	DS4;
NET "AC701_GPIO_LED<3>"						LOC =  "R26";						## {OUT}	DS5;
NET "AC701_GPIO_LED<?>"						IOSTANDARD = LVCMOS33;

## Ignore timings on async I/O pins
NET "AC701_GPIO_LED<?>"						TIG;
