[submodule "lib/osvvm"]
	path = lib/osvvm
	url = ../OSVVM.git
[submodule "lib/OSVVM-AXI4"]
	path = lib/OSVVM-AXI4
	url = ../OSVVM-AXI4.git
[submodule "lib/OSVVM-Common"]
	path = lib/OSVVM-Common
	url = ../OSVVM-Common.git
[submodule "lib/OSVVM-Scripts"]
	path = lib/OSVVM-Scripts
	url = ../OSVVM-Scripts.git
[submodule "lib/OSVVM-UART"]
	path = lib/OSVVM-UART
	url = ../OSVVM-UART.git
