# general file excludes
~*.tmp
~*.docx
*~
*.o
~$*

# ignore Python caches
__pycache__

# ignore build directories
docs/_build/
docs/PyInfrastructure/*
!docs/PyInfrastructure/.gitempty
!docs/PyInfrastructure/.publish
!docs/PyInfrastructure/README.md
!docs/PyInfrastructure/index.rst


# ignore files in netlist/
netlist/
!netlist/configuration.ini
!netlist/netlist.ps1
!netlist/netlist.sh
!netlist/template.cgc

# ignore folders
docs/_build/
.pyIPCMI/Wrapper/Hooks/*
!.pyIPCMI/Wrapper/Hooks/README.md
temp/*
!temp/README.md

# ignore private files from pyIPCMI
.pyIPCMI/config.private.ini

# ignore private files from PoC
tb/common/my_project.vhdl


# ignore external tool files: ActiveHDL, QuestaSim
/.sigasi/**/
!/.sigasi/project.sigasi

/prj/ActiveHDL/*
/prj/ActiveHDL/*.*
/prj/ActiveHDL/**/*.*
!/prj/ActiveHDL/PoC.adf
!/prj/ActiveHDL/PoC.wsp

/prj/Diamond/*.*
/prj/Diamond/*/*
/prj/Diamond/**/*.*
!/prj/Diamond/**/*.lpf
!/prj/Diamond/*.ldf
!/prj/Diamond/*.sty
!/prj/Diamond/*.vhdl

/prj/QuestaSim/*
/prj/QuestaSim/*.*
/prj/QuestaSim/**/*.*
!/prj/QuestaSim/PoC.mpf

# general whitelist
!.git*
!.publish
!README.md
other/PrecisionRTL/
