#% BEGIN-TEMPLATEFILE Board = "ML605" %#
#% DEFINE-IF EthernetPHYInterface = "GMII"	EthernetPHY_GMII				%#
#% DEFINE-IF EthernetPHYInterface = "RGMII"	EthernetPHY_RGMII				%#
#% DEFINE-IF EthernetPHYInterface = "SGMII"	EthernetPHY_SGMII				%#

#% BEGIN-TEMPLATE EthernetPHY %#
## =============================================================================================================================================================
## Ethernet PHY - Marvell Alaska Ultra
## =============================================================================================================================================================
##	Bank:						33
##		VCCO:					2,5V (VCC2V5_FPGA)
##	Location:				U80
##		Vendor:				Marvell
##		Device:				M88E1111 - 
##		MDIO-Address:	0x05 (---0 0111b)
##		I²C-Address:	I²C management mode is not enabled
##
## common signals and management
## --------------------------
NET "ML605_EthernetPHY_Reset_n"									LOC = "AH13" | IOSTANDARD = LVCMOS25; ## {IN}			U80.36
NET "ML605_EthernetPHY_Interrupt_n"							LOC = "AH14" | IOSTANDARD = LVCMOS25; ## {IN}			U80.32
NET "ML605_EthernetPHY_Management_Clock"				LOC = "AP14" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.35
NET "ML605_EthernetPHY_Management_Data"					LOC = "AN14" | IOSTANDARD = LVCMOS25; ## {INOUT}	U80.33

#% BEGIN-IF EthernetPHY_GMII | Ethernet_PHY_RGMII %#
##
#$ NET "ML605_EthernetPHY_Collision_Detected"		LOC = "B32";			# Bank 11,	Vcco=2.5V
#$ NET "ML605_EthernetPHY_Carrier_Sense"				LOC = "E34";			# Bank 11,	Vcco=2.5V
#% END-IF %#

#% BEGIN-IF EthernetPHY_GMII | Ethernet_PHY_RGMII %#
##
## single-ended, parallel TX path
NET "ML605_EthernetPHY_TX_Valid"								LOC = "AJ10" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.16
NET "ML605_EthernetPHY_TX_Error"								LOC = "AH10" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.13
NET "ML605_EthernetPHY_TX_DATA<0>"							LOC = "AM11" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.18
NET "ML605_EthernetPHY_TX_DATA<1>"							LOC = "AL11" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.19
NET "ML605_EthernetPHY_TX_DATA<2>"							LOC = "AG10" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.20
NET "ML605_EthernetPHY_TX_DATA<3>"							LOC = "AG11" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.24
#% END-IF %#
#% BEGIN-IF EthernetPHY_GMII %#
NET "ML605_EthernetPHY_TX_DATA<4>"							LOC = "AL10" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.25
NET "ML605_EthernetPHY_TX_DATA<5>"							LOC = "AM10" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.26
NET "ML605_EthernetPHY_TX_DATA<6>"							LOC = "AE11" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.28
NET "ML605_EthernetPHY_TX_DATA<7>"							LOC = "AF11" | IOSTANDARD = LVCMOS25; ## {OUT}		U80.29
#% END-IF %#

#% BEGIN-IF EthernetPHY_GMII | Ethernet_PHY_RGMII %#
##
## single-ended, parallel RX path
NET "ML605_EthernetPHY_RX_Valid"								LOC = "AM13" | IOSTANDARD = LVCMOS25; ## {IN}			U80.4
NET "ML605_EthernetPHY_RX_Error"								LOC = "AG12" | IOSTANDARD = LVCMOS25; ## {IN}			U80.8
NET "ML605_EthernetPHY_RX_DATA<0>"							LOC = "AN13" | IOSTANDARD = LVCMOS25; ## {IN}			U80.3
NET "ML605_EthernetPHY_RX_DATA<1>"							LOC = "AF14" | IOSTANDARD = LVCMOS25; ## {IN}			U80.128
NET "ML605_EthernetPHY_RX_DATA<2>"							LOC = "AE14" | IOSTANDARD = LVCMOS25; ## {IN}			U80.126
NET "ML605_EthernetPHY_RX_DATA<3>"							LOC = "AN12" | IOSTANDARD = LVCMOS25; ## {IN}			U80.125
#% END-IF %#
#% BEGIN-IF EthernetPHY_GMII %#
NET "ML605_EthernetPHY_RX_DATA<4>"							LOC = "AM12" | IOSTANDARD = LVCMOS25; ## {IN}			U80.124
NET "ML605_EthernetPHY_RX_DATA<5>"							LOC = "AD11" | IOSTANDARD = LVCMOS25; ## {IN}			U80.123
NET "ML605_EthernetPHY_RX_DATA<6>"							LOC = "AC12" | IOSTANDARD = LVCMOS25; ## {IN}			U80.121
NET "ML605_EthernetPHY_RX_DATA<7>"							LOC = "AC13" | IOSTANDARD = LVCMOS25; ## {IN}			U80.120
#% END-IF %#
#% BEGIN-IF EthernetPHY_GMII | Ethernet_PHY_RGMII %#
NET "ML605_EthernetPHY_*"												IOSTANDARD = "LVCMOS25";
NET "ML605_EthernetPHY_*"												SLEW = FAST;
##
## Timing names
NET "ML605_EthernetPHY_RX_Clock"								TNM_NET = "TGRP_EthernetPHY_RX_Clock";
NET "ML605_EthernetPHY_RX_Data[?]"							TNM			= "EthernetPHY_RX";
NET "ML605_EthernetPHY_RX_Valid"								TNM			= "EthernetPHY_RX";
NET "ML605_EthernetPHY_RX_Error"								TNM			= "EthernetPHY_RX";
##
## RX clock frequency
TIMESPEC "TS_EthernetPHY_RX_Clock" = PERIOD "TGRP_EthernetPHY_RX_Clock" 125 MHz HIGH 50%;
##
## according to IEEE 802.3 clause 35.4.2.3:
##		t_SETUP(RCVR) = 2.0 ns
##		t_HOLD(RCVR)	= 0.0 ns
TIMEGRP "EthernetPHY_RX" OFFSET = IN 2.0 VALID 2.0 ns BEFORE "ML605_EthernetPHY_RX_Clock" RISING;
##
## select appropriate delay controller
##INST "*genRS_GMII.genPHY_GMII.GMII/IDELAYCTRL_RX_Clock"				LOC = "IDELAYCTRL_X1Y4";
##INST "*genRS_GMII.genPHY_GMII.GMII/IDELAYCTRL_RX_Data"					LOC = "IDELAYCTRL_X0Y3";
##
## Set the IDELAY values on the data inputs. Please modify so that above timing constraint is fulfilled.
INST "*genRS_GMII.genPHY_GMII.GMII/IODly_RX_Clock"							IDELAY_VALUE = 0;
INST "*genRS_GMII.genPHY_GMII.GMII/blkIDelay.genIDelay[?].dly"	IDELAY_VALUE = 26;
##
## Group all IODELAY-related instances
INST "*genRS_GMII.genPHY_GMII.GMII/IODly_RX_Clock"							IODELAY_GROUP = "EthernetPHY_IODelayGroup";
INST "*genRS_GMII.genPHY_GMII.GMII/blkIDelay.genIDelay[?].dly"	IODELAY_GROUP = "EthernetPHY_IODelayGroup";
##
## Place BUFG to prevent placement skewing IODELAY value
INST "*genRS_GMII.genPHY_GMII.GMII/BUFG_RX_Clock"								LOC = "BUFGCTRL_X0Y6";
##
## GMII Receiver Constraints:  place flip-flops in IOB, might also be enforced by XST option "-iob true"
INST "*genRS_GMII.genPHY_GMII.GMII/PHY_Interface.TX_Data_?" 	 	IOB = true;
INST "*genRS_GMII.genPHY_GMII.GMII/PHY_Interface.TX_Valid"	  	IOB = true;
INST "*genRS_GMII.genPHY_GMII.GMII/PHY_Interface.TX_Error" 			IOB = true;
##
INST "*genRS_GMII.genPHY_GMII.GMII/RS_RX_Data_?" 								IOB = true;
INST "*genRS_GMII.genPHY_GMII.GMII/RS_RX_Valid" 		 				 		IOB = true;
##INST "*genRS_GMII.genPHY_GMII.GMII/RS_RX_Error"	 						 	IOB = true;
#% END-IF %#

#% BEGIN-IF EthernetPHY_SGMII %#
## SGMII LVDS signal-pairs
## --------------------------
##	Bank:						116
##	Transceiver:
##		Location:			
##	ReferenceClock
##		Location:			U82 (ICS844021I_TSSOP8)
##		Vendor:				
##		Device:				ICS844021I
##		Frequency:		125 MHz
NET "ML605_EthernetPHY_RefClock_125MHz_p"				LOC = "H6";														## {IN}			U82.7
NET "ML605_EthernetPHY_RefClock_125MHz_n"				LOC = "H5";														## {IN}			U82.6
NET "ML605_EthernetPHY_SGMII_TX_p"							LOC = "A3";														## {OUT}		U80.113
NET "ML605_EthernetPHY_SGMII_TX_n"							LOC = "A4";														## {OUT}		U80.112
NET "ML605_EthernetPHY_SGMII_RX_p"							LOC = "B5";														## {IN}			U80.107
NET "ML605_EthernetPHY_SGMII_RX_n"							LOC = "B6";														## {IN}			U80.105
#% END-IF %#
#% END-TEMPLATE EthernetPHY %#
#% END-TEMPLATEFILE %#


## FROM old ML505 ucf
#$	# =============================================================================================================================================================
#$	# Tri-Mode Ethernet PHY (1000/100/10)
#$	# =============================================================================================================================================================
#$	# 	Ethernet PHY:		Marvel M88E1111
#$	#		Name:						U16
#$	#		Bank:						3, 11, 22
#$	#		Configuration:	set J20 to 3-5 and 4-6 to select 2.5 V for VCCO_EXP (Bank 11 and 13)
#$	#										set J22 to 1-2 for MII/GMII interface
#$	#										set J23 to 1-2 for MII/GMII interface
#$	#										set J24 = OFF to disable RGMII
#$	#
#$	
#$	
#$	NET "ML505_EthernetPHY_TX_GTX_Clock"					LOC = "J16";			# Bank 3,		Vcco=2.5V, No DCI
#$	NET "ML505_EthernetPHY_TX_Clock"							LOC = "K17";			# Bank 3, 	Vcco=2.5V, No DCI
#$	
#$	NET "ML505_EthernetPHY_RX_Clock"							LOC = "H17";			# Bank 3, 	Vcco=2.5V, No DCI

