#% BEGIN-TEMPLATEFILE Board = "ML605" %#
#% BEGIN-TEMPLATE EthernetPHY %#
## Ethernet PHY - Marvell Alaska Ultra
## =============================================================================
##	Bank:						13, 15
##		VCCO:					1,8V (VCC1V8_FPGA)
##	Location:				P3
##		I²C-Address:	0xA0 (1010 000xb)
NET "VC707_SFP_TX_Disable"											LOC = "AP33" | IOSTANDARD = LVCMOS18; ## ; low-active; external 4k7 pullup resistor; level shifted by Q4 (NDS331N)
NET "VC707_SFP_LossOfSync"											LOC = "BB38" | IOSTANDARD = LVCMOS18; ## ; low-active; external 4k7 pullup resistor; level shifted by U69 (SN74AVC1T45)

## SGMII LVDS signal-pairs
## --------------------------
##	Bank:						113
##	ReferenceClock
##		Location:			P3
NET "VC707_SFP_TX_n"														LOC = "AM3";													## 
NET "VC707_SFP_TX_p"														LOC = "AM4";													## 
NET "VC707_SFP_RX_n"														LOC = "AL5";													## 
NET "VC707_SFP_RX_p"														LOC = "AL6";													## 
#% END-TEMPLATE EthernetPHY %#


#% BEGIN-TEMPLATE Tranceiver_SMA %#
## Transceiver - SMA interface
## =============================================================================
##	Bank:						113
##	ReferenceClock
##		Location:			J25, J26
NET "VC707_SMA_RefClock_n"											LOC = "AK7";													## J26
NET "VC707_SMA_RefClock_p"											LOC = "AK8";													## J25

## SMA LVDS signal-pairs
## --------------------------
##	Bank:						113
##	Location:				P27, J28, J29, J30
NET "VC707_SMA_TX_n"														LOC = "AP3";													## J30
NET "VC707_SMA_TX_p"														LOC = "AP4";													## J29
NET "VC707_SMA_RX_n"														LOC = "AN5";													## J28
NET "VC707_SMA_RX_p"														LOC = "AN6";													## J27
#% END-TEMPLATE Tranceiver_SMA %#
#% END-TEMPLATEFILE %#
