#####################################################
### VIRTEX-5 ML505 CONSTRAINTS FILE
###
### Taken from Xilinx web page.
###
### Changes by Martin Zabel:
### - Adjusted signal names.
### - Added timing constraints.
#####################################################

#
# Clocking
#
NET  clk_in	      	LOC="AH15";  # Bank 4, Vcco=3.3V, No DCI
NET  clk_in		IOSTANDARD="LVCMOS33";
NET  clk_in		TNM_NET = "clk_in";

TIMESPEC TS_clk = PERIOD "clk_in" 10 ns HIGH 50 %;

#
# CPU Reset
#
NET  rst_in_n		LOC="E9";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  rst_in_n		IOSTANDARD="LVCMOS33";
NET  rst_in_n		PULLUP;

#
# LED line
#
NET  led<0>		LOC="H18";   # Bank 3, Vcco=2.5V, No DCI
NET  led<1>           	LOC="L18";   # Bank 3, Vcco=2.5V, No DCI
NET  led<2>           	LOC="G15";   # Bank 3, Vcco=2.5V, No DCI
NET  led<3>           	LOC="AD26";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm
NET  led<4>           	LOC="G16";   # Bank 3, Vcco=2.5V, No DCI
NET  led<5>           	LOC="AD25";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm
NET  led<6>           	LOC="AD24";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm
NET  led<7>           	LOC="AE24";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm
NET  led<0>		IOSTANDARD="LVCMOS25";
NET  led<1>		IOSTANDARD="LVCMOS25";
NET  led<2>		IOSTANDARD="LVCMOS25";
NET  led<3>		IOSTANDARD="LVCMOS18";
NET  led<4>		IOSTANDARD="LVCMOS25";
NET  led<5>		IOSTANDARD="LVCMOS18";
NET  led<6>		IOSTANDARD="LVCMOS18";
NET  led<7>		IOSTANDARD="LVCMOS18";
NET  led[*]		SLEW=SLOW;

#
# SRAM / Flash
# Output/Input registers are moved to IOB due to XST option.
# As shown by board schematic:
#   SRAM_FLASH_A1 is at SRAM pin A0
#
NET  sram_adv		LOC="H8";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_bw_n<0>      	LOC="D10";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_bw_n<1>       LOC="D11";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_bw_n<2>       LOC="J11";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_bw_n<3>       LOC="K11";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_clkfb         LOC="AG21";  # Bank 4, Vcco=3.3V, No DCI
NET  sram_clk           LOC="G8";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_ce_n          LOC="J10";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<0>       LOC="AD19";  # Bank 2, Vcco=3.3V
NET  sram_data<1>       LOC="AE19";  # Bank 2, Vcco=3.3V
NET  sram_data<2>       LOC="AE17";  # Bank 2, Vcco=3.3V
NET  sram_data<3>       LOC="AF16";  # Bank 2, Vcco=3.3V
NET  sram_data<4>       LOC="AD20";  # Bank 2, Vcco=3.3V
NET  sram_data<5>       LOC="AE21";  # Bank 2, Vcco=3.3V
NET  sram_data<6>       LOC="AE16";  # Bank 2, Vcco=3.3V
NET  sram_data<7>       LOC="AF15";  # Bank 2, Vcco=3.3V
NET  sram_data<8>       LOC="AH13";  # Bank 4, Vcco=3.3V, No DCI
NET  sram_data<9>       LOC="AH14";  # Bank 4, Vcco=3.3V, No DCI
NET  sram_data<10>      LOC="AH19";  # Bank 4, Vcco=3.3V, No DCI
NET  sram_data<11>      LOC="AH20";  # Bank 4, Vcco=3.3V, No DCI
NET  sram_data<12>      LOC="AG13";  # Bank 4, Vcco=3.3V, No DCI
NET  sram_data<13>      LOC="AH12";  # Bank 4, Vcco=3.3V, No DCI
NET  sram_data<14>      LOC="AH22";  # Bank 4, Vcco=3.3V, No DCI
NET  sram_data<15>      LOC="AG22";  # Bank 4, Vcco=3.3V, No DCI
NET  sram_data<16>      LOC="N10";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<17>      LOC="E13";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<18>      LOC="E12";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<19>      LOC="L9";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<20>      LOC="M10";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<21>      LOC="E11";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<22>      LOC="F11";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<23>      LOC="L8";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<24>      LOC="M8";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<25>      LOC="G12";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<26>      LOC="G11";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<27>      LOC="C13";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<28>      LOC="B13";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<29>      LOC="K9";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<30>      LOC="K8";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<31>      LOC="J9";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<32>      LOC="D12";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<33>      LOC="C12";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<34>      LOC="H10";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_data<35>      LOC="H9";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_addr<0>       LOC="K13";   # Bank 1, Vcco=3.3V
NET  sram_addr<1>       LOC="H23";   # Bank 1, Vcco=3.3V
NET  sram_addr<2>       LOC="G23";   # Bank 1, Vcco=3.3V
NET  sram_addr<3>       LOC="H12";   # Bank 1, Vcco=3.3V
NET  sram_addr<4>       LOC="J12";   # Bank 1, Vcco=3.3V
NET  sram_addr<5>       LOC="K22";   # Bank 1, Vcco=3.3V
NET  sram_addr<6>       LOC="K23";   # Bank 1, Vcco=3.3V
NET  sram_addr<7>       LOC="K14";   # Bank 1, Vcco=3.3V
NET  sram_addr<8>       LOC="L14";   # Bank 1, Vcco=3.3V
NET  sram_addr<9>       LOC="H22";   # Bank 1, Vcco=3.3V
NET  sram_addr<10>      LOC="G22";   # Bank 1, Vcco=3.3V
NET  sram_addr<11>      LOC="J15";   # Bank 1, Vcco=3.3V
NET  sram_addr<12>      LOC="K16";   # Bank 1, Vcco=3.3V
NET  sram_addr<13>      LOC="K21";   # Bank 1, Vcco=3.3V
NET  sram_addr<14>      LOC="J22";   # Bank 1, Vcco=3.3V
NET  sram_addr<15>      LOC="L16";   # Bank 1, Vcco=3.3V
NET  sram_addr<16>      LOC="L15";   # Bank 1, Vcco=3.3V
NET  sram_addr<17>      LOC="L20";   # Bank 1, Vcco=3.3V
#? NET  sram_addr<18>      LOC="L20";   # Bank 1, Vcco=3.3V
#? NET  sram_addr<19>      LOC="L21";   # Bank 1, Vcco=3.3V
#? NET  sram_addr<20>      LOC="AE23";  # Bank 2, Vcco=3.3V
#? NET  sram_addr<21>      LOC="AE22";  # Bank 2, Vcco=3.3V
NET  sram_we_n          LOC="AF20";  # Bank 2, Vcco=3.3V
NET  sram_mode        	LOC="A13";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_oe_n          LOC="B12";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm
NET  sram_*		IOSTANDARD="LVCMOS33";
NET  sram_*		DRIVE=12 | SLEW="FAST";

NET  sram_data[*]	TNM = "TGRP_sram_data";
NET  sram_data[*]	TNM = "TGRP_sram";
NET  sram_addr[*]	TNM = "TGRP_sram";
NET  sram_we_n		TNM = "TGRP_sram";

# Signals clk_in and sram_clkfb are phase-aligned.
#
# The output constraint enforces, that the FFs are placed into the IOBs. This
# constraints defines also the time for switching sram_data to 'Z'
#(switch off) by the FPGA.
#
# Data is output t_KO = 3.1 ns after the rising clock edge at the SRAM.
# Assuming almost equal PCB net delay, data arrives at the FPGA t_KO after the
# rising edge of sram_clkfb (= rising_edge of clk_in). With an uncertainty of
# 1 ns, we would get an input offset constraint of 4.1 ns. But,
# because it takes more time to switch the output off by the FPGA, the
# data cannot be valid before.
#
TIMEGRP TGRP_sram	OFFSET   = OUT 5 ns  AFTER "clk_in";
TIMEGRP TGRP_sram_data	OFFSET   = IN  5 ns AFTER "clk_in";

# feedback value has effect only, if FPGA FFs are clocked with
# (internal) sram_clk
NET sram_clkfb		FEEDBACK = 2ns NET "sram_clk"; # correct?
