#% BEGIN-TEMPLATEFILE Board = "ML505" %#
#% BEGIN-TEMPLATE Miscellaneous %#
## =============================================================================================================================================================
## Xilinx User Constraint File (UCF)
## =============================================================================================================================================================
##	Board:					Xilinx - Virtex 5 ML505
##	FPGA:						Xilinx Virtex 5
##		Device:				XC5VLX50T
##		Package:			FF1136
##		Speedgrade:		-1
## =============================================================================================================================================================
## Miscellaneous
## =============================================================================================================================================================
CONFIG PART = XC5VLX50T-FFG1136-1;
CONFIG STEPPING = "ES";
#% END-TEMPLATE Miscellaneous %#

#% BEGIN-TEMPLATE ClockSources %#
##
##
## =============================================================================================================================================================
## Clock Sources
## =============================================================================================================================================================
#% END-TEMPLATE ClockSources %#
#% BEGIN-TEMPLATE ClockSource_SystemClock %#
##
## System Clock
## =============================================================================
##		Bank:							3
##			VCCO:						2.5V (VCC2V5)
##		Location:					U8 (IDT5V9885)
#$;			Vendor:					SiTime
#$;			Device:				
##				IIC-Address:	0x6A
##			Frequency:			200 MHz, #$;50ppm
NET "ML505_SystemClock_200MHz_n"				LOC = "K19";				## {IN}		U8.OUT5_N_16
NET "ML505_SystemClock_200MHz_p"				LOC = "L19";				## {IN}		U8.OUT5_P_15
NET "ML505_SystemClock_200MHz_p"				IOSTANDARD = LVDS_25;
##
NET "ML505_SystemClock_200MHz_p"				TNM_NET = "TGRP_SystemClock";
TIMESPEC "TS_SystemClock"	= PERIOD "TGRP_SystemClock"		200 MHz	HIGH 50 %;
#% END-TEMPLATE ClockSource_SystemClock %#

#% BEGIN-TEMPLATE ClockSource_UserClock %#
## User Clock
## =============================================================================
#$;		Bank:							24
##			VCCO:						3.3V (VCC3V3)
#$		Location:					X1 #$; single-ended clock socket
##		Oscillator:				100 MHz
#$;			Vendor:					MMD Components
#$;			Device:					MBH2100H-66.000 MHz
##			Frequency:			100 MHz, #$;100ppm
NET "ML505_UserClock"				LOC = "AH15";						## {IN}			X1.Out
NET "ML505_UserClock"				IOSTANDARD = LVDS_25;
##
NET "ML505_UserClock"				TNM_NET = "TGRP_UserClock";
TIMESPEC "TS_UserClock"	= PERIOD "TGRP_UserClock"		100 MHz	HIGH 40 %;
#% END-TEMPLATE ClockSource_UserClock %#

#% BEGIN-TEMPLATE ClockSource_SMAClock %#
## SMA Clock
## =============================================================================
#$;		Bank:						24
#$;			VCCO:					2.5V (VCC2V5_FPGA)
#$;		Location:				J55, J58
##		Configuration:	set J54 = OFF	(near battery)
NET "ML505_SMAClock_n"									LOC = "J21" | IOSTANDARD = LVCMOS25;	## {INOUT}	#$;J55
NET "ML505_SMAClock_p"									LOC = "J20" | IOSTANDARD = LVCMOS25;	## {INOUT}	#$;J58
#% END-TEMPLATE ClockSource_SMAClock %#

#% BEGIN-TEMPLATE GPIO_SMA %#
## SMA Clock
## =============================================================================
##		Bank:						14
##			VCCO:					2.5V (VCC2V5_FPGA)
##		Location:				J56, J57
#$NET "ML505_GPIO_SMA_n"									LOC = "W34" | IOSTANDARD = LVCMOS25;	## {INOUT}	J56
#$NET "ML505_GPIO_SMA_p"									LOC = "V34" | IOSTANDARD = LVCMOS25;	## {INOUT}	J57
#% END-TEMPLATE GPIO_SMA %#

##	#% BEGIN-TEMPLATE ClockSource_RecoveryClock %#
##	## User Clock
##	## =============================================================================
##	##		Bank:						13, 114
##	##			VCCO:					1.8V (VCC1V8_FPGA)
##	##		Location:				U24 (Si5324-C-GM)
##	##			Vendor:				Silicon Labs
##	##			Device:				SI5324 - Any-Frequency Precision Clock Multiplier/Jitter Attenuator
##	##			I²C-Address:	0xA0 (1010 000xb)
##	#$NET "ML505_Si5324_Alarm_n"							LOC = "AU34"	| IOSTANDARD = LVCMOS25; ## U24.3; level shifted by U33 (SN74AVC1T45)
##	#$NET "ML505_Si5324_Reset_n"							LOC = "AT36"	| IOSTANDARD = LVCMOS25; ## U24.1; level shifted by U39 (SN74AVC4T245)
##	
##	## recovered clock output
##	#$NET "ML505_Si5324_ClockIn_n"						LOC = "AW33"	| IOSTANDARD = LVCMOS25;	## U24.17
##	#$NET "ML505_Si5324_ClockIn_p"						LOC = "AW32"	| IOSTANDARD = LVCMOS25;	## U24.16
##	
##	## feedback input clock to transceiver quad at bank 114
##	#$NET "ML505_Si5324_ClockOut_n"						LOC = "AD7"		| IOSTANDARD = LVCMOS25;	## U24.29
##	#$NET "ML505_Si5324_ClockOut_p"						LOC = "AD8"		| IOSTANDARD = LVCMOS25;	## U24.28
##	#% END-TEMPLATE ClockSource_RecoveryClock %#

#% END-TEMPLATEFILE %#